<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
    <!--<compilation debug="true" />-->
  </system.web>
  <system.serviceModel>
    <!-- Liste des services-->
    <services>
      <!-- Définition d'un service-->
      <service name="API.JobChannelService">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="RFEndPointBehavior"
          contract="API.IJobChannelService" />
      </service>

      <!-- 
      <service name="MonService.SecurityService">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="RFEndPointBehavior"
          contract="MonService.ISecurityService" />
      </service>
      -->

    </services>
    <behaviors>
      <!-- Ici la configuration d'un point de terminaison -->
      <endpointBehaviors>
        <behavior name="RFEndPointBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        <behavior>
          <!-- Pour éviter la divulgation d'informations de métadonnées, définissez les valeurs ci-dessous sur false avant le déploiement -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Pour recevoir les détails de l'exception dans les erreurs à des fins de débogage, définissez la valeur ci-dessous sur true. Pour éviter la divulgation d'informations d'exception, définissez-la sur false avant le déploiement -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Pour parcourir le répertoire racine de l'application Web lors du débogage, définissez la valeur ci-dessous sur true.
        Définissez-la sur false avant le déploiement pour ne pas divulguer d'informations du dossier de l'application Web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>




